# 1) Write a python program to display all the header tags from wikipedia.org.

In [39]:
#1) Write a python program to display all the header tags from wikipedia.org.
from bs4 import BeautifulSoup
import requests

headings=[] #empty list to store the data

#for i in soup.find_all('div',class_="restnt-info cursor"):
#    headings.append(i.text)
#headings   

url = requests.get('https://en.wikipedia.org/wiki/Main_Page')
url
#soup = BeautifulSoup(url.text, 'html.parser')
#story = soup.find_all(['h1', 'h2','h3'])

In [40]:
soup = BeautifulSoup(url.text, 'html.parser')

for i in soup.find_all(['h1', 'h2','h3']):
    print(i.prettify())

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none">
 Main Page
</h1>

<h1>
 <span class="mw-headline" id="Welcome_to_Wikipedia">
  Welcome to
  <a href="/wiki/Wikipedia" title="Wikipedia">
   Wikipedia
  </a>
 </span>
</h1>

<h2 class="mp-h2" id="mp-tfa-h2">
 <span id="From_today.27s_featured_article">
 </span>
 <span class="mw-headline" id="From_today's_featured_article">
  From today's featured article
 </span>
</h2>

<h2 class="mp-h2" id="mp-dyk-h2">
 <span class="mw-headline" id="Did_you_know_...">
  Did you know ...
 </span>
</h2>

<h2 class="mp-h2" id="mp-itn-h2">
 <span class="mw-headline" id="In_the_news">
  In the news
 </span>
</h2>

<h2 class="mp-h2" id="mp-otd-h2">
 <span class="mw-headline" id="On_this_day">
  On this day
 </span>
</h2>

<h2 class="mp-h2" id="mp-tfp-h2">
 <span id="Today.27s_featured_picture">
 </span>
 <span class="mw-headline" id="Today's_featured_picture">
  Today's featured picture
 </span>
</h2>

<h2 class="mp-h2" id="mp-other">
 <span class="mw-headline" id="Other_areas_of_Wikipedia">
  Other areas of Wikipedia
 </span>
</h2>

<h2 class="mp-h2" id="mp-sister">
 <span id="Wikipedia.27s_sister_projects">
 </span>
 <span class="mw-headline" id="Wikipedia's_sister_projects">
  Wikipedia's sister projects
 </span>
</h2>

<h2 class="mp-h2" id="mp-lang">
 <span class="mw-headline" id="Wikipedia_languages">
  Wikipedia languages
 </span>
</h2>

<h2>
 Navigation menu
</h2>

<h3>
 <label for="searchInput">
  Search
 </label>
</h3>

# 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [10]:
#2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

from bs4 import BeautifulSoup
import requests
import pandas as pd

url = "https://www.imdb.com/chart/top/"
response = requests.get(url)
response

In [ ]:
response.content

In [ ]:
soup=BeautifulSoup(response.content,"html.parser")
print(soup.prettify())

In [ ]:
movie_name= soup.find_all('td',class_="titleColumn")
movie_name

In [ ]:
movie=[]
for i in movie_name:
    i=(i.get_text().replace('\n',""))
    i=i.strip(" ")
    movie.append(i)
movie

In [ ]:
movie_rating=soup.find_all('td',class_="ratingColumn imdbRating")
movie_rating

In [ ]:
rating=[]
for i in movie_rating:
        i=i.get_text().replace('\n',"")
        rating.append(i)
rating

In [70]:
data=pd.DataFrame()

for i in range(100):
    if i==100:
        break
    data['Movie Name']=movie
    data['Rating']=rating
    
data['Year']=data['Movie Name'].str[-5:-1]
data.head(100)

                                           Movie Name Rating  Year
0              1.      The Shawshank Redemption(1994)    9.2  1994
1                         2.      The Godfather(1972)    9.2  1972
2                       3.      The Dark Knight(2008)    9.0  2008
3                4.      The Godfather: Part II(1974)    9.0  1974
4                          5.      12 Angry Men(1957)    8.9  1957
..                                                ...    ...   ...
95   96.      M - Eine Stadt sucht einen Mörder(1931)    8.3  1931
96                  97.      North by Northwest(1959)    8.3  1959
97                              98.      Jagten(2012)    8.3  2012
98                             99.      Vertigo(1958)    8.2  1958
99  100.      Le fabuleux destin d'Amélie Poulain(...    8.2  2001

[100 rows x 3 columns]

In [71]:
data.head(100).to_csv('IMDB_Top_Movies.csv',index=False)

# 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [72]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

url = "https://www.imdb.com/india/top-rated-indian-movies/"
response = requests.get(url)
response

In [ ]:
response.content

In [ ]:
soup=BeautifulSoup(response.content,"html.parser")
print(soup.prettify())

In [ ]:
movie_name= soup.find_all('td',class_="titleColumn")
movie_name

In [ ]:
movie=[]
for i in movie_name:
    i=(i.get_text().replace('\n',""))
    i=i.strip(" ")
    movie.append(i)
movie

In [ ]:
movie_rating=soup.find_all('td',class_="ratingColumn imdbRating")
movie_rating

In [ ]:
rating=[]
for i in movie_rating:
        i=i.get_text().replace('\n',"")
        rating.append(i)
rating

In [79]:
data=pd.DataFrame()

for i in range(100):
    if i==100:
        break
    data['Movie Name']=movie
    data['Rating']=rating
    
data['Year']=data['Movie Name'].str[-5:-1]
data.head(100)

                                 Movie Name Rating  Year
0            1.      K.G.F: Chapter 2(2022)    8.5  2022
1                  2.      Anbe Sivam(2003)    8.4  2003
2                    3.      Jai Bhim(2021)    8.4  2021
3                     4.      Golmaal(1979)    8.4  1979
4                     5.      Nayakan(1987)    8.4  1987
..                                      ...    ...   ...
95                    96.      Baasha(1995)    8.0  1995
96                    97.      Masaan(2015)    8.0  2015
97            98.      Dil Chahta Hai(2001)    8.0  2001
98                   99.      Kahaani(2012)    8.0  2012
99  100.      Maheshinte Prathikaaram(2016)    8.0  2016

[100 rows x 3 columns]

In [80]:
data.head(100).to_csv('IMDB_Top_Indian_Movies.csv',index=False)

# 4) Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp .

In [878]:
from bs4 import BeautifulSoup
import requests

In [879]:
page=requests.get('https://meesho.com/bagsladies/pl/p7vbp')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [ ]:
soup=BeautifulSoup(page.content,"html.parser")
print(soup.prettify())

In [ ]:
prod_name=soup.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS")
prod_name

In [ ]:
prod=[]
for i in prod_name:
    prod.append(i.text)
prod

In [ ]:
Prod_price=soup('h5',class_="Text__StyledText-sc-oo0kvp-0 hiHdyy")
Prod_price

In [ ]:
Price=[]
for i in Prod_price:
    Price.append(i.text)
Price

In [ ]:
Prod_disc=soup('span',class_="Text__StyledText-sc-oo0kvp-0 lnonyH")
Prod_disc

In [ ]:
Discount=[]
for i in Prod_disc:
    Discount.append(i.text.replace(' off',""))
Discount

In [890]:
import pandas as pd
Data=pd.DataFrame()

Data['Product']=prod
Data['Price']=Price
Data['Discount']=Discount

Data

                                 Product  Price Discount
0        Ravishing Classy Women Handbags   ₹950       5%
1          Graceful Fancy Women Handbags   ₹528       9%
2       Classic Versatile Women Handbags   ₹950       5%
3      Ravishing Alluring Women Handbags   ₹384      12%
4           Voguish Fancy Women Handbags  ₹1549       3%
5   Ravishing Fashionable Women Handbags   ₹316      14%
6         Classic Stylish Women Handbags  ₹3202       2%
7      Graceful Versatile Women Handbags   ₹950       5%
8          Elegant Classy Women Handbags   ₹950       5%
9        Elegant Alluring Women Handbags  ₹2337       2%
10        Trendy Alluring Women Handbags  ₹1320       4%
11    Elegant Fashionable Women Handbags   ₹725       6%
12       Classic Alluring Women Handbags   ₹518       9%
13    Classic Fashionable Women Handbags   ₹620       7%
14          Classic Fancy Women Handbags   ₹646       7%
15        Trendy Alluring Women Handbags   ₹950       5%

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team and rating.
c) Top 10 ODI bowlers along with the records of their team and rating.

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [298]:
from bs4 import BeautifulSoup
import requests

page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [314]:
First_Team_name=soup.find('tr',class_="rankings-block__banner")
First_Team_name.get_text(strip=True,separator=" ").split(" ")

['1', 'New', 'Zealand', 'NZ', '20', '2,448', '122']

In [ ]:
Other_Team_name=soup.find_all('tr',class_="table-body")
Other_Team_name

In [313]:
final_Team_lst=[]
final_Team_lst.append(First_Team_name.get_text(strip=True,separator=" ").split(" "))
final_Team_lst

[['1', 'New', 'Zealand', 'NZ', '20', '2,448', '122']]

In [315]:
for i in Other_Team_name:
    split_lst=i.get_text(strip=True,separator=" ").split(" ")
    final_Team_lst.append(split_lst)
final_Team_lst[:10]

[['1', 'New', 'Zealand', 'NZ', '20', '2,448', '122'],
 ['2', 'England', 'ENG', '32', '3,793', '119'],
 ['3', 'Australia', 'AUS', '31', '3,475', '112'],
 ['4', 'India', 'IND', '38', '4,162', '110'],
 ['5', 'South', 'Africa', 'SA', '31', '3,167', '102'],
 ['6', 'Pakistan', 'PAK', '30', '2,921', '97'],
 ['7', 'Bangladesh', 'BAN', '36', '3,350', '93'],
 ['8', 'Sri', 'Lanka', 'SL', '35', '2,835', '81'],
 ['9', 'West', 'Indies', 'WI', '36', '2,788', '77'],
 ['10', 'Afghanistan', 'AFG', '23', '1,562', '68']]

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [847]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [849]:
first_data=soup.find("div",class_="rankings-block__top-player")
first_data.get_text(strip=True,separator=" ").split(" ")

['1', '(0)', 'Babar', 'Azam', 'PAK', '891']

In [ ]:
other_data=soup.find_all("tr",class_="table-body")
other_data

In [851]:
final_lst=[]
final_lst.append(first_data.get_text(strip=True,separator=" ").replace("This player has moved up in the rankings since the previous rankings update ",""))
final_lst

['1 (0) Babar Azam PAK 891']

In [855]:
for i in other_data:
    split_lst=i.get_text(strip=True,separator=" ").replace("This player has moved up in the rankings since the previous rankings update ","")
    split_lst=split_lst.replace("This player has moved down in the rankings since the previous rankings update ","")
    final_lst.append(split_lst)
final_lst[:10]

['1 (0) Babar Azam PAK 891',
 '2 (0) Virat Kohli IND 811',
 '3 (0) Imam-ul-Haq PAK 795',
 '4 (0) Rohit Sharma IND 791',
 '5 (0) Quinton de Kock SA 789',
 '6 (1) Jonny Bairstow ENG 775',
 '7 (1) This player has moved down in the rankings since the previous rankings update Ross Taylor NZ 775',
 '8 (0) Rassie van der Dussen SA 769',
 '9 (0) David Warner AUS 750',
 '10 (0) Aaron Finch AUS 745']

c) Top 10 ODI bowlers along with the records of their team and rating.

In [292]:
first_data_bowl=soup.find_all("div",class_="rankings-block__top-player")

final_lst_bowl=[]

k=0
for i in first_data_bowl:
    k=k+1
    if k==2:
        split_lst_bowl=i.get_text(strip=True,separator=" ").split(" ")
        final_lst_bowl.append(split_lst_bowl)
final_lst_bowl

[['1', '(0)', 'Trent', 'Boult', 'NZ', '726']]

In [293]:
final_lst_bowl=final_lst_bowl+final_lst[10:19]
final_lst_bowl

[['1', '(0)', 'Trent', 'Boult', 'NZ', '726'],
 ['2', '(0)', 'Chris', 'Woakes', 'ENG', '700'],
 ['3', '(0)', 'Josh', 'Hazlewood', 'AUS', '698'],
 ['4', '(0)', 'Matt', 'Henry', 'NZ', '683'],
 ['5', '(0)', 'Mujeeb', 'Ur', 'Rahman', 'AFG', '681'],
 ['6', '(0)', 'Jasprit', 'Bumrah', 'IND', '679'],
 ['7', '(0)', 'Shaheen', 'Afridi', 'PAK', '671'],
 ['8', '(0)', 'Mehedi', 'Hasan', 'BAN', '661'],
 ['9', '(0)', 'Shakib', 'Al', 'Hasan', 'BAN', '657'],
 ['10', '(0)', 'Rashid', 'Khan', 'AFG', '650']]

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [856]:
from bs4 import BeautifulSoup
import requests

page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [858]:
First_Team_name=soup.find('tr',class_="rankings-block__banner")
First_Team_name.get_text(strip=True,separator=" ").split(" ")

['1', 'Australia', 'AUS', '29', '4,840', '167']

In [859]:
final_Team_Wlst=[]
final_Team_Wlst.append(First_Team_name.get_text(strip=True,separator=" ").split(" "))
final_Team_Wlst

[['1', 'Australia', 'AUS', '29', '4,840', '167']]

In [ ]:
Other_Team_name=soup.find_all('tr',class_="table-body")
Other_Team_name

In [861]:
for i in Other_Team_name:
    split_lst=i.get_text(strip=True,separator=" ").split(" ")
    final_Team_Wlst.append(split_lst)
final_Team_Wlst[:10]

[['1', 'Australia', 'AUS', '29', '4,840', '167'],
 ['2', 'South', 'Africa', 'SA', '28', '3,504', '125'],
 ['3', 'England', 'ENG', '30', '3,533', '118'],
 ['4', 'India', 'IND', '29', '2,878', '99'],
 ['5', 'New', 'Zealand', 'NZ', '31', '3,030', '98'],
 ['6', 'West', 'Indies', 'WI', '28', '2,481', '89'],
 ['7', 'Bangladesh', 'BAN', '12', '936', '78'],
 ['8', 'Pakistan', 'PAK', '26', '1,752', '67'],
 ['9', 'Ireland', 'IRE', '5', '240', '48'],
 ['10', 'Sri', 'Lanka', 'SL', '5', '233', '47']]

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [862]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [869]:
first_data=soup.find("div",class_="rankings-block__top-player")
first_data.get_text(strip=True,separator=" ").replace("This player has moved up in the rankings since the previous rankings update ","")

'1 (3) Alyssa Healy AUS 785'

In [ ]:
other_data=soup.find_all("tr",class_="table-body")
other_data

In [871]:
final_lst=[]
final_lst.append(first_data.get_text(strip=True,separator=" ").replace("This player has moved up in the rankings since the previous rankings update ",""))
final_lst

['1 (3) Alyssa Healy AUS 785']

In [877]:
for i in other_data:
    split_lst=i.get_text(strip=True,separator=" ").replace("This player has moved down in the rankings since the previous rankings update","")
    final_lst.append(split_lst)
final_lst[:10]

['1 (3) Alyssa Healy AUS 785',
 '2 (3) Natalie Sciver ENG 750',
 '3 (2) This player has moved down in the rankings since the previous rankings update Beth Mooney AUS 748',
 '4 (2) This player has moved down in the rankings since the previous rankings update Laura Wolvaardt SA 722',
 '5 (2) This player has moved down in the rankings since the previous rankings update Meg Lanning AUS 710',
 '6 (0) Rachael Haynes AUS 701',
 '7 (0) Mithali Raj IND 686',
 '8 (0) Amy Satterthwaite NZ 681',
 '9 (0) Smriti Mandhana IND 669',
 '10 (0) Tammy Beaumont ENG 659']

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [830]:
first_data_all=soup.find_all("div",class_="rankings-block__top-player")

final_lst_all=[]

k=0
for i in first_data_all:
    k=k+1
    if k==3:
        split_lst_all=i.get_text(strip=True,separator=" ").replace("This player has moved up in the rankings since the previous rankings update ","")

        final_lst_all.append(split_lst_all)
final_lst_all

['1 (1) Natalie Sciver ENG 393']

In [831]:
final_lst_all=final_lst_all+final_lst[19:28]
final_lst_all

['1 (1) Natalie Sciver ENG 393',
 '2 (1) This player has moved down in the rankings since the previous rankings update Ellyse Perry AUS 374',
 '3 (0) Marizanne Kapp SA 359',
 '4 (0) Hayley Matthews WI 338',
 '5 (0) Amelia Kerr NZ 335',
 '6 (0) Ashleigh Gardner AUS 269',
 '7 (0) Deepti Sharma IND 249',
 '8 (0) Jess Jonassen AUS 245',
 '9 (0) Katherine Brunt ENG 221',
 '10 Jhulan Goswami IND 217']

# 7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

In [921]:
from bs4 import BeautifulSoup
import requests
page=requests.get('https://coreyms.com/')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [ ]:
heading=[]

for i in soup.find_all('h2',class_='entry-title'):
    heading.append(i.text)
    
heading

In [ ]:
date=[]

for i in soup.find_all('time',class_='entry-time'):
    date.append(i.text)
    
date

In [ ]:
content=[]

for i in soup.find_all('div',class_='entry-content'):
    content.append(i.text)
    
content

In [ ]:
video_link=[]


for i in soup.find_all('iframe',class_='youtube-player'):
    link=i['src']
    if link == None:
        link='None'   
    
    video_link.append(link)    

video_link.insert(4, '-') 
video_link

In [ ]:
video_link

In [941]:
import pandas as pd
Data=pd.DataFrame()

Data['Heading']=heading
Data['Date']=date
Data['Content']=content
Data['Video Link']=video_link

Data

,Heading,Date,Content,Video Link
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","\nIn this video, we will be learning how to cr...",https://www.youtube.com/embed/z0gguhEmWiY?vers...
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","\nIn this Python Programming video, we will be...",https://www.youtube.com/embed/_P7X8tMplsw?vers...
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","\nIn this Python Programming video, we will be...",https://www.youtube.com/embed/fKl2JW_qrso?vers...
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","\nIn this Python Programming video, we will be...",https://www.youtube.com/embed/IEEhzQoKtQU?vers...
4,Update (2019-09-03),"September 3, 2019",\nHey everyone. I wanted to give you an update...,-
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","\nIn this Python Programming Tutorial, we will...",https://www.youtube.com/embed/mO_dS3rXDIs?vers...
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","\nIn this Python Programming Tutorial, we will...",https://www.youtube.com/embed/2Fp1N6dof0Y?vers...
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","\nIn this Python Programming Tutorial, we will...",https://www.youtube.com/embed/-nh9rCzPJ20?vers...
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","\nIn this Python Programming Tutorial, we will...",https://www.youtube.com/embed/06I63_p-2A4?vers...
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","\nIn this Python Programming Tutorial, we will...",https://www.youtube.com/embed/_JGmemuINww?vers...

# 8) Write a python program to scrape house details from mentioned URL. It should include house title, location,area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

In [755]:
from bs4 import BeautifulSoup
import requests

In [756]:
page=requests.get('https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIifSx7ImxhdCI6MTIuOTc4MzY5MiwibG9uIjo3Ny42NDA4MzU2LCJwbGFjZUlkIjoiQ2hJSmtRTjNHS1FXcmpzUk5oQlFKcmhHRDdVIiwicGxhY2VOYW1lIjoiSW5kaXJhbmFnYXIifSx7ImxhdCI6MTIuOTMwNzczNSwibG9uIjo3Ny41ODM4MzAyLCJwbGFjZUlkIjoiQ2hJSjJkZGxaNWdWcmpzUmgxQk9BYWYtb3JzIiwicGxhY2VOYW1lIjoiSmF5YW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Rajajinagar,&locality=Indiranagar,&locality=Jayanagar')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [ ]:
house_title=[]

for i in soup.find_all('span',class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full"):
    house_title.append(i.text)
    
house_title

In [ ]:
house_loc=[]

for i in soup.find_all('div',class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95"):
    house_loc.append(i.text.replace("Independent House, ",""))
    
house_loc

In [ ]:
import pandas as pd
house_area=[]
area=[]


for i in soup.find_all('span',class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full"):
    area.append(i.get_text(strip=True,separator=" ").split("For Sale  In "))
 

house_area = [i[1] for i in area]  
house_area

In [ ]:
house_emi=[]

for i in soup.find_all('div',class_="font-semi-bold heading-6"):

        house_emi.append(i.text)

house_emi[1::3]

In [ ]:
house_prc=[]

for i in soup.find_all('div',class_="font-semi-bold heading-6"):

        house_prc.append(i.text)

house_prc[2::3]

In [782]:
import pandas as pd

data=pd.DataFrame()
data['Title']=house_title
data['Location']=house_loc
data['Area']=house_area
data['EMI']=house_emi[1::3]
data['Price']=house_prc[2::3]


data

,Title,Location,Area,EMI,Price
0,4+ BHK In Independent House For Sale In Raja...,"5th Block, near National Public School RNR",Rajajinagar,₹1.86 Lacs/Month,₹3.25 Crores
1,4 BHK In Independent House For Sale In Jayan...,"Jayanagar SBI Branch 9th blk, 4th T Blk CafÃ© ...",Jayanagar 4th 't' Block,₹1.55 Lacs/Month,₹2.7 Crores
2,3 BHK Flat For Sale In Shree Rameshwara Nila...,manjunath road near The illusion Cafe,Shree Rameshwara Nilaya In Rajaji Nagar,"₹63,045/Month",₹1.1 Crores
3,3 BHK Apartment For Sale In Laa Royal Manor ...,"Laa Royal Manor 11th Cross Rd, 8th cross, HAL...",Laa Royal Manor In Indiranagar,₹1.58 Lacs/Month,₹2.75 Crores
4,2 BHK Flat For Sale In Pallava Terrace In Ja...,"17, Pallava Terrace, North Main Road, 6th Bloc...",Pallava Terrace In Jayanagar,"₹42,985/Month",₹75 Lacs
5,4+ BHK In Independent House For Sale In Raja...,6th C cross 3rd main rd near Ayyappa Temple,Rajaji Nagar,"₹77,374/Month",₹1.35 Crores
6,4+ BHK In Independent House For Sale In Raja...,"6th Cross road,9th main road Prakash Nagar, ...",Rajaji Nagar,"₹63,045/Month",₹1.1 Crores
7,"3 BHK Apartment For Sale In Admiralty Manor,...","Admiralty Manor, Indiranagar Admiralty Manor,...","Admiralty Manor, Indiranagar In Indiranagar","₹85,971/Month",₹1.5 Crores
8,2 BHK Apartment For Sale In Jains Prakriti I...,"Jains Prakriti Kanakapura Rd, 7th Block West...",Jains Prakriti In Jayanagar,₹1.15 Lacs/Month,₹2 Crores
9,3 BHK Flat For Sale In Benaka Apartments In ...,"16th D main, HAL 2nd stage, Indiranagar , Ben...","Benaka Apartments In Hal 2nd Stage, Indiranagar","₹48,717/Month",₹85 Lacs
10,4 BHK In Independent House For Sale In Indir...,"2nd stage ,9th cross",Indira Nagar,₹1.69 Lacs/Month,₹2.95 Crores
11,2 BHK Apartment For Sale In Blueberry Apartm...,"Blueberry Apartment 13th E Main Rd, Channakes...",Blueberry Apartment In Indiranagar,"₹87,691/Month",₹1.53 Crores
12,4+ BHK In Independent House For Sale In Laks...,"CMH Rd , Near B P Bakery",Lakshmipuram Indrinagar,"₹63,045/Month",₹1.1 Crores
13,2 BHK Apartment For Sale In Tarang Parkway A...,"Tarang Parkway Apartment 2nd Main Rd, Shivana...",Tarang Parkway Apartment In Basaveshwar Nagar,"₹57,314/Month",₹1 Crore
14,3 BHK Apartment For Sale In Brigade Gateway ...,"Brigade Gateway Dr Rajkumar Road, Rajaji Naga...",Brigade Gateway In Rajaji Nagar,₹1.5 Lacs/Month,₹2.62 Crores
15,"2 BHK Flat For Sale In Jains Prakruti, Jayan...","Kanakapura Road, Jayanagar, Bangalore, Karnata...","Jains Prakruti, Jayanagar In Jayanagar 7th Block","₹85,971/Month",₹1.5 Crores
16,4+ BHK In Independent House For Sale In Raja...,"6th Cross Rd, 2nd Block near SMC Enclave",Rajajinagar,"₹83,679/Month",₹1.46 Crores
17,3 BHK Flat For Sale In Rajaji Nagar,"242, 27th cross, 2nd Block, Rajajinagar, Banga...",Rajaji Nagar,"₹77,374/Month",₹1.35 Crores
18,3 BHK Apartment For Sale In Adarsh Court Apa...,Adarsh Court Apartment Adarsh Court Apartment...,Adarsh Court Apartment In Jayanagar,₹1.86 Lacs/Month,₹3.25 Crores
19,3 BHK Apartment For Sale In Parasmani Regenc...,"Parasmani Regency Parasmani Regency, 8th Cros...",Parasmani Regency In Jayanagar,₹1.43 Lacs/Month,₹2.5 Crores
20,2 BHK Flat For Sale In Kumar Ashraya Apartme...,"Kumar Ashraya Apartments 194, 9th Cross Rd 2n...",Kumar Ashraya Apartments In Jayanagar,"₹37,827/Month",₹66 Lacs
21,3 BHK Apartment For Sale In Mayitri Enclave ...,"Mayitri Enclave Mayitri Enclave, 39th C, 5T B...",Mayitri Enclave In Jayanagar,"₹44,705/Month",₹78 Lacs
22,2 BHK Flat For Sale In Jayanagar Residency I...,"Jayanagar Residency, K V Layout, LIC Colony, J...",Jayanagar Residency In Jayanagar,"₹57,314/Month",₹1 Crore
23,4 BHK Flat For Sale In Rrbc Piccassso In Jay...,"Municipal No.152, 18th main road, beside Sai B...",Rrbc Piccassso In Jayanagar,₹3.91 Lacs/Month,₹6.83 Crores
24,4 BHK Flat For Sale In Phoenix One Bangalor...,"Dr Rajkumar Rd, opposite Sheraton Hotel, Rajaj...",Phoenix One Bangalore West In Rajajinagar,₹2.72 Lacs/Month,₹4.75 Crores

# 9) Write a python program to scrape mentioned details from dineout.co.in :i) Restaurant name ii) Cuisine iii) Location iv) Ratings v) Image URL

In [718]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [719]:
page=requests.get('https://www.dineout.co.in/delhi-restaurants')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [ ]:
Name=[] 

for i in soup.find_all('a', class_ = "restnt-name ellipsis"):
    Name.append(i.text)
Name

In [ ]:
cuis=[]
cuisine=[]

for i in soup.find_all('span', class_ = 'double-line-ellipsis'):
    cuis.append(i.get_text(strip=True,separator=" ").split("|"))

cuisine = [i[1] for i in cuis]  
cuisine

In [ ]:
Loc=[]

for i in soup.find_all('div', class_ = "restnt-loc ellipsis"):
    Loc.append(i.text)
Loc

In [ ]:
Rating=[]

for i in soup.find_all('div', class_ = 'restnt-rating rating-4'):
    Rating.append(i.text)
Rating  


Rating

In [ ]:
imglink=[]

for i in soup.find_all('img',class_="no-img"):
    imglink.append(i['data-src'])
    
imglink

In [754]:
data=pd.DataFrame()

data['Restaurant name']=Name
data['Cuisine']=cuisine
data['Location']=Loc
data['Ratings']=Rating
data['Image URL']=imglink

data

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,Tamasha,"Continental , Asian , Italian , North Indian","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
1,Local,"North Indian , Asian , Continental","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
2,Unplugged Courtyard,"North Indian , Italian , Chinese , Turkish , ...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,The G.T. ROAD,North Indian,"M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,Ministry Of Beer,"North Indian , Continental , American , Asian","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
5,Connaught Clubhouse Microbrewery,"North Indian , Italian , Asian , European","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
6,Warehouse Cafe,"North Indian , Chinese , Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
7,Chili's American Grill and Bar,"Mexican , American , Tex Mex","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,Openhouse Cafe,"North Indian , Asian , Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
9,The Junkyard Cafe,"North Indian , Continental , Chinese , Fast Food","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
10,Sandoz,"North Indian , Chinese , Continental","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
11,Berco's,Chinese,"Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
12,Lord of the Drinks,"Chinese , North Indian , Fast Food","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
13,QBA,"North Indian , Continental , Italian","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
14,High 5 - Everyday Wholesale Bar,"North Indian , Continental , Chinese","Connaught Place, Central Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
15,Dasaprakash,"South Indian , Kerala , Continental , North I...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
16,The Imperial Spice,"North Indian , Continental , Mughlai","M-Block,Connaught Place, Central Delhi",4.4,https://im1.dineout.co.in/images/uploads/resta...
17,My Bar Square,"Finger Food , Chinese , Continental , Italian","Connaught Place, Central Delhi",3.8,https://im1.dineout.co.in/images/uploads/resta...
18,Chido,"North Indian , Italian , Continental , Asian ...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
19,Out Of The Box Courtyard,"North Indian , Mediterranean , Chinese , Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
20,Ardor 2.1 Restaurant and Lounge,"North Indian , Chinese , Italian , Continental","Connaught Place, Central Delhi",3.8,https://im1.dineout.co.in/images/uploads/resta...

# 10) Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [628]:
from bs4 import BeautifulSoup
import requests

In [674]:
page=requests.get('https://www.bewakoof.com/top-wear-for-women/category-t-shirt--sleeve-half---sleeve?sort=low')
page

In [ ]:
soup = BeautifulSoup(page.text, 'html.parser')
soup

In [ ]:
prod_name=[] 

for i in soup.find_all(['h3']):
    prod_name.append(i.text)   
prod_name

In [ ]:
prod_actual_prc=[] 

for i in soup.find_all('span',class_="discountedPriceText"):
    prod_actual_prc.append(i.text)   
prod_actual_prc

In [ ]:
prod_mem_prc=[] 

for i in soup.find_all('div',class_="loyaltyPriceBox"):
    prod_mem_prc.append(i.text.replace("For TriBe Members",""))   
prod_mem_prc

In [ ]:
img_link=[]

for i in soup.find_all('img',class_="productImgTag"):
    img_link.append(i['src'])
    
img_link

In [717]:
import pandas as pd

data=pd.DataFrame()

data['Name']=prod_name
data['Actual Price']=prod_actual_prc
data['Member Price']=prod_mem_prc
data['Image Link']=img_link

data

,Name,Actual Price,Member Price,Image Link
0,Difficult Roads Half Sleeve T-shirt,₹ 199,₹179,https://images.bewakoof.com/t320/difficult-roa...
1,Climbing pocket panda Half Sleeve Printed T-Shirt,₹ 199,₹179,https://images.bewakoof.com/t320/climbing-pock...
2,Tweety Origami (LTL),₹ 199,₹179,https://images.bewakoof.com/t320/tweety-origam...
3,Be A Rainbow Half Sleeve Printed T-Shirt,₹ 199,₹179,https://images.bewakoof.com/t320/be-a-rainbow-...
4,Climbing pocket panda Half Sleeves Printed T-S...,₹ 199,₹179,https://images.bewakoof.com/t320/climbing-pock...
5,Atma Nirbhar Half Sleeve T-Shirt,₹ 199,₹179,https://images.bewakoof.com/t320/atma-nirbhar-...
6,Laila Women's Half Sleeve Printed T-Shirt,₹ 199,₹179,https://images.bewakoof.com/t320/laila-women-s...
7,Tweety Origami Half Sleeve Printed T-shirt (LTL),₹ 199,₹179,https://images.bewakoof.com/t320/tweety-origam...
8,Stay Away Panda Printed Half Sleeve Pink T-shirt,₹ 199,₹179,https://images.bewakoof.com/t320/stay-away-pan...
9,Wink New Half Sleeve Printed T-Shirt Yellow,₹ 199,₹179,https://images.bewakoof.com/t320/wink-new-half...